### Iterate a list of names to return a list of the names starting with H

In [14]:
my_name_list = list (["Bjørne","Bo","Jens","Peter","Hans","Hanne"])
print(my_name_list)

check = 'H'

result = [idx for idx in my_name_list if idx[0].lower() == check.lower()]
print(result)

['Bjørne', 'Bo', 'Jens', 'Peter', 'Hans', 'Hanne']
['Hans', 'Hanne']

### In one line create a list of the numbers 1-100 to the power of 3

In [1]:
my_number_list = list(range(1,101))
print(my_number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
my_comp = [element ** 3 for element in my_number_list]
print(my_comp)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

### Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [29]:
my_tuple_list = [(len("Peter"),"Peter",len("Bo"),"Bo")]
print(my_tuple_list)

inpu1 = input("Write a name")
inpu2 = input("Write a name")

my_tuple_list1 = [(len(inpu1),inpu1,len(inpu2),inpu2)]
print(my_tuple_list1)

[(5, 'Peter', 2, 'Bo')]

Write a name hej
Write a name igen

[(3, 'hej', 4, 'igen')]

### Iterate over each character in a string and get only those that are nummeric

In [28]:
new_string = "hgign4636gd43nsng433"

emp_str = ""
for m in new_string:
    if m.isdigit():
        emp_str = emp_str + m
print("Find numbers from string: ",emp_str)

Find numbers from string:  463643433

### Using only a list comprehension wrapped in set() get all possible combinations from throwing 2 dice (hint use 2 for loops in a single list comprehension). Result should look like: [2,3,4,5,6,7,8,...] or a more complex/accurate solution: [(1,1),(1,2)...] in a way that (1,2) is equal to (2,1).