## 01 Class exercise slicing dataframe
Use this data:
```python
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
```
1. Create a DataFrame (wrap the data above in a pandas DataFrame in a way that printing the dataframe and its index and column attributes gives this result)  
`pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])`  

``` 
     Col1 Col2 col3  
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9

Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')
```

2. Make slices of data:
   1. second column using column name
   2. third column using column index (.iloc[])
   3. slice element at third row of second column (use .iloc())

In [1]:
from my_modules.pandas_Ex import slicing_dataframe1
slicing_dataframe1()

1. Create a DataFrame (wrap the data above in a pandas DataFrame in a way that printing the dataframe and its index and column attributes gives this result)
     Col1 Col2 col3
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9


Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')

In [1]:
from my_modules.pandas_Ex import slicing_dataframe2a
slicing_dataframe2a()

1. second column using column name
Row1    2
Row2    5
Row3    8
Name: Col2, dtype: object

In [1]:
from my_modules.pandas_Ex import slicing_dataframe2b
slicing_dataframe2b()

2. third column using column index (.iloc[])
Row1    3
Row2    6
Row3    9
Name: col3, dtype: object

In [2]:
from my_modules.pandas_Ex import slicing_dataframe2c
slicing_dataframe2c()

3. slice element at third row of second column (use .iloc())
8

## 02 Exercise Pandas Data Series
The CO2 Emission data set above is not updated since 2014
1. Create a Pandas Series with emission data from 2014 for each country or region
2. Find the 10 Countries/Regions with the highest emissions in 2014 and show emission numbers (reverse sorted)
3. Remove if you can those rows that are not countries (regions and aggregated groups) (hint:  [ISO 3166, Alpha-3 country codes](https://www.iban.com/country-codes), a csv file can be found here: `/data/country_codes.csv`)
    - Find the 10 countries with highest emissions in 2014
4. Plot the emissions of China and USA over time respectively

In [1]:
from my_modules.pandas_Ex import panda_data_series1
panda_data_series1()

1. Create a Pandas Series with emission data from 2014 for each country or region

## 03 Exercise pandas dataframe
1. Using the dataframe in the above cell find:
    1. Mean, Min, Max values for all 4 columns
    2. The 2 dates with the largest and smallest sum (by column)
    3. All dates where both A's and B's are positive

In [1]:
from my_modules.pandas_Ex import panda_dataframe1a
panda_dataframe1a()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.332751  0.349378 -0.522690 -0.284857
std    1.011940  0.646206  1.124756  1.692247
min   -1.059981 -0.390446 -1.285741 -2.804349
25%   -1.015086 -0.205789 -1.154861 -1.405659
50%   -0.621565  0.379122 -0.808393  0.162287
75%   -0.263994  0.932640 -0.711545  0.972215
max    1.597667  1.012082  1.716000  1.456750


1. Mean, Min, Max values for all 4 columns
mean for A:  -0.33275109452514434
min for A:  -1.0599805653107361
max for A:  1.5976669481922885


mean for B:  0.34937794513878423
min for B:  -0.3904459495387004
max for B:  1.0120820986495154


mean for C:  -0.5226900255510725
min for C:  -1.2857412419835756
max for C:  1.7159999164578452


mean for D:  -0.28485705284342955
min for D:  -2.8043490065086822
max for D:  1.4567500713865982

In [1]:
from my_modules.pandas_Ex import panda_dataframe1b
panda_dataframe1b()

2. The 2 dates with the largest and smallest sum (by column)
                   A         B         C         D
2020-06-02 -1.299986 -0.730526 -0.495252 -1.145776
2020-06-03  0.079060  0.673573  0.299987 -2.053915
2020-06-04  0.415610  0.192243  0.424896  0.800340
2020-06-05  0.566635  0.036293  0.107438 -0.824265
2020-06-06 -0.080615  0.503199  0.623298  0.144070
2020-06-07 -0.544172 -0.183448 -0.549969  0.101124

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [3]:
from my_modules.pandas_Ex import panda_dataframe1c
panda_dataframe1c()

3. All dates where both A's and B's are positive

## 04 Class Exercise
#### Find military expenditure pr. capita.

Go here and get data as csv: [worldbank military expanditure](https://databank.worldbank.org/reports.aspx?source=2&series=MS.MIL.XPND.CD&country=#). Download it manually, unzip the csv and clean up empty rows.  
1. Use .replace() method on the dataframe to remove all data containing '..'
2. Set index of the dataframe to be 'Country Name'
3. Slice the 2019 column data to get a data series.
4. Make data numeric (pd.to_numeric(data_series))

1. For 2019 find the 10 countries with the highest military expenditure in USD
2. For 2019 find the 10 countries with the highest military expenditure per capita. Find the population data here: [worldbank](https://databank.worldbank.org/source/world-development-indicators/preview/on#)(use series='Population,Total' and time='2019' and Country= countries (217)) **or** use [copy paste with this date into excel](https://www.worldometers.info/world-population/population-by-country/)
  - (Hint: use pd.merge() to merge the mil_exp dataframe with the population dataframe on 2 columns (country_code)
3. For 2019 find the 3 countries with the highest per capita military expenditure in the middle east
  - [countries list with iso code](middleeast_countries.csv) or use:   
  `list_of_middle_eastern = ['YEM','ARE','TUR','SYR','SAU','QAT','PSE','OMN','LBN','KWT','JOR','ISR','IRQ','IRN','EGY','CYP','BHR']`