## 01 Exercise: Writing a Simple Web Crawler

1. Write a simple web scraper that can capture all images in a document (like: https://www.cphbusiness.dk/). 
2. Write to a .md file in a format so all images are shown when markdown is pasted and executed in a cell
3. Extend the web scraper to find all links (`<a>` elements) in the document.
4. If you have time, let the crawler find all links in the linked documents as well (so we get one more level of the hypertext graph). Use threads if helpfull.


In case a page returns a status code, which is not `200` we just disregard this page. See https://en.wikipedia.org/wiki/List_of_HTTP_status_codes for more detailes on the various HTTP status codes.

In [ ]:
def scrape_links(from_url, for_depth, all_links={}):
    # TODO: Implement code for websraper
    # return dict(key=url, value=list of outgoing urls)
    pass


start_url = 'https://www.version2.dk/artikel/google-deepmind-vi-oeger-sikkerheden-mod-misbrug-sundhedsdata-1074452'

link_dict = scrape_links(from_url=start_url, for_depth=2)
scrape_links()

## 01 Exercise with findall()
In the following text find all the family names of everyone with first name Peter:

"Peter Hansen was meeting up with Jacob Fransen for a quick lunch, but first he had to go by Peter Beier to pick up some chocolate for his wife. Meanwhile Pastor Peter Jensen was going to church to give his sermon for the same 3 people in his parish. Those were Peter Kold and Henrik Halberg plus a third person who had recently moved here from Norway called Peter Harold".

In [325]:
import re

first_name_Peter = re.compile(r'Peter \w+')

all_peters = """
Peter Hansen was meeting up with Jacob Fransen for a quick lunch, but first he had to go by Peter Beier to pick up some chocolate for his wife. Meanwhile Pastor Peter Jensen was going to church to give his sermon for the same 3 people in his parish.Those were Peter Kold and Henrik Halberg plus a third person who had recently moved here from Norway called Peter Harold
"""

names = first_name_Peter.findall(all_peters)
print('All Peters: {}'.format(names))

All Peters: ['Peter Hansen', 'Peter Beier', 'Peter Jensen', 'Peter Kold', 'Peter Harold']

## 02 exercise

We will play with the addresses from data/addresses.txt and the following regex patterns

Write a regular expression, that you can use to create 5 lists with:

  * all names in the list above
  * all telephone numbers 
  * all zip codes
  * all city names with corresponding zip code
  * all street names
  


|No|**Symbol**|**Effect**|
|--|--|--|
|1|.|dot matches any character except newline|
|2|\w|matches any word character i.e alphanumeric (letters, digits) and underscore ( _ )|
|3|\W|matches non word characters|
|4|\d|matches a single digit|
|5|\D|matches a single character that is not a digit|
|6|\s|matches any white-spaces character like \t and \n|
|7|\S|matches single non white space character|
|8|[abc]|matches single character in the set i.e either match a, b or c|
|9|[^abc]|match a single character other than a, b and c|
|10|[a-z]|match a single character in the range a to z.|
|11|[a-zA-ZæøåÆØÅ]|match a single character in the range a-å or A-Å|
|12|[0-9]|match a single character in the range 0-9|
|13|^|match start at beginning of the string|
|14|$|match start at end of the string|
|15|+|matches one or more of the preceding character (greedy match).|
|16|*|matches zero or more of the preceding character (greedy match).|
|17|?|matches zero or one of the preceding character.|
|18|*?|non-greedy matches zero or more|
|19|??|non-greedy zero or one|
|20|+?|non-greedy one or more|
|21|\||or|
|22|`([\w ]+)*`|one ore more words|

In [22]:
import re
with open('./my_data/addresses.txt') as f:
    addresses = f.read()
    
    all_names = re.compile(r'^A (\w+).+|^Aage (\w+).+')
    for line in addresses.split('\n'):
        if all_names.match(line):
            print(all_names.match(line).group())

A Henning Gamborg Møller
A K Møller
A Møller
A Møller
A Møller
A Møller
A Møller
A Møller Andersen
A Møller Jensen
A Møller Sørensen
A Porse Møller
Aage Beck Møller
Aage Bojsen-Møller
Aage Christian Møller Andersen
Aage Hansen Møller
Aage Jan Møller
Aage Karl Møller
Aage Majbom Møller
Aage Martin Møller
Aage Møller
Aage Møller
Aage Møller
Aage Møller
Aage Møller
Aage Møller

In [107]:
import re
with open('./my_data/addresses.txt') as f:
    addresses = f.read()
    
    all_telephone_numbers= re.compile(r'\d{2} \d{2} \d{2} \d{2}')
    for line in addresses.split('\n'):
        if all_telephone_numbers.match(line):
            print(all_telephone_numbers.match(line).group())

61 69 03 76
75 50 75 14
86 45 44 36
76 42 00 81
86 13 22 99
97 95 20 01
74 74 36 62
45 80 47 14
60 94 39 04
35 38 97 81
86 94 66 60
20 44 00 35
55 81 46 76
20 83 70 65
62 24 10 81
20 83 88 62
51 15 15 66
28 59 06 93
21 48 73 79
64 82 11 54
40 10 80 76
21 79 64 18
23 66 57 00
60 45 79 69
29 68 03 25

In [114]:
import re
with open('./my_data/addresses.txt') as f:
    addresses = f.read()
    
    all_zip_code= re.compile(r'\d{4} ')
    for line in addresses.split('\n'):
        if all_zip_code.match(line):
            print(all_zip_code.match(line).group())

6760
3460
8920
7000
8000
7760
6240
2840
8210
2100
8464
6630
4780
9240
5762
2650
3300
5550
6051
5450
8586
7900
5200
9700
8370

In [131]:
import re
with open('./my_data/addresses.txt') as f:
    addresses = f.read()
    
    all_city_names_withzipcode= re.compile(r'\d{4} ([\w ]+)*')
    for line in addresses.split('\n'):
        if all_city_names_withzipcode.match(line):
            print(all_city_names_withzipcode.match(line).group())

6760 Ribe
3460 Birkerød
8920 Randers NV
7000 Fredericia
8000 Aarhus C
7760 Hurup Thy
6240 Løgumkloster
2840 Holte
8210 Aarhus V
2100 København Ø
8464 Galten
6630 Rødding
4780 Stege
9240 Nibe
5762 Vester Skerninge
2650 Hvidovre
3300 Frederiksværk
5550 Langeskov
6051 Almind
5450 Otterup
8586 Ørum Djurs
7900 Nykøbing M
5200 Odense V
9700 Brønderslev
8370 Hadsten

In [18]:
import re
with open('./my_data/addresses.txt') as f:
    addresses = f.read()
    
    
    all_street_names= re.compile(r'^([a-zA-ZæøåÆØÅ].+)|(\D) \d.+')
    #all_street_names= re.compile(r'^(\w+) ([\w ]+)*$')
    #all_street_names= re.compile(r'^(\w+) \d{2}$')
    for line in addresses.split('\n'):
        if all_street_names.match(line):
            print(all_street_names.match(line).group())

A Henning Gamborg Møller
Klostergade 28
A K Møller
Bregnerødvej 75, st. 0002
A Møller
Violvej 3
Ø. Bjerregrav
A Møller
Hyrdevej 16A
A Møller
Brammersgade 45
A Møller
Dalstræde 11
Heltborg
A Møller
Jørgensgaardvej 13
A Møller Andersen
Gammel Holtevej 60
Gl Holte
A Møller Jensen
Viborgvej 115, 1. TV
Hasle
A Møller Sørensen
Korsørgade 4, 6. tv
A Porse Møller
Røddikvej 60
Aage Beck Møller
Rødding Nørregade 8
Aage Bojsen-Møller
Noret 3
Aage Christian Møller Andersen
Jordemodervej 7
Bislev
Aage Hansen Møller
Filippavej 38
Hundstrup
Aage Jan Møller
Næsborgvej 50, st. th
Aage Karl Møller
Dyrevænget 21
Tibirke Sand
Aage Majbom Møller
Pilelunden 23
Aage Martin Møller
Almind Østergade 15A, 1. tv
Aage Møller
Ørritslev Gade 7
Ørritslev
Aage Møller
Knudsvej 1
Aage Møller
Fruevej 4
Aage Møller
Dybdevej 30
Bolbro
Aage Møller
Hammelmosevej 12
Aage Møller
Birkevej 6

## Class exercise
Find a web site to interact with and fill out a form to get some information back.  
Examples could be https://www.jobindex.dk/,    
https://google.com or   
https://www.ikea.com/dk/da/